<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="../stylesheets/home.css" />
  </head>
  <body>
    <div class="outer">
      <div class="topnav">
        <a href="/home">Home </a>
        <a href="/seecheckout"> Your Books</a>
      </div>
      <h1>intezaar op</h1>
      <div class="container">
      
        <% for (var i =0; i < list.length;  i++ ) { %>
          <div class="one">
            <div class="box">
              <p class="text">  <%= list[i].name %> </p>
        </div>
        <div class="whitebox">
          <%= list[i].genre%>
        </div>
         <a class="button">Pending</a>
      </div>
        <% } %>
      </div>
    </div>
  </body>
</html>